html {
    scroll-behavior: smooth;
    font-size: 12px;
}

body {
    margin: 0;
    background: #000;
    user-select: none;

}

* {
    font-family: Raleway, arial;
    color: #f0f0f0;
    cursor: default;
}


a {
    cursor: pointer;
    text-decoration: none;
}

main {
    height: 100dvh;
    display: flex;
    background: url(https://chroniclehq.com/images/bg-website-min.png);
    background-size: cover;
}

#main__ceiling {
    text-align: center;
    padding-block: 3rem;
    position: fixed;
    left: 0;
    right: 0;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    background: #000;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#author {
    text-align: left;
    margin-left: 3rem;
    letter-spacing: normal;
}

#main__title {
    height: 75dvh;
    display: grid;
    place-items: center;
    margin: auto;
}

#title__block__wrapper {
    height: 100%;
    width: 70%;
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid #1d1d1d;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #000;
    z-index: 0;
}

#title__block {
    height: 100%;
    border-radius: 1rem;
    background: radial-gradient(rgba(255, 255, 255, 0.1) 12%,
            transparent 20%);
    background-position: 0% 0%;
    background-size: 1.5vmin 1.5vmin;
    border: 1px solid #1d1d1d;
    padding: 5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 2fr;
    position: relative;
}

#title__block > * {
    z-index: 1;
}

#title__block::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #141414 0%, #0e0e0e 50%);
    z-index: -1;
    border-radius: 1rem;
}

#title__block::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, transparent 0%, #0e0e0e 50%);
    border-radius: 1rem;
}

h1 {
    font-size: 6rem;
}


#download {
    font-size: 1.5rem;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}

#scroll__down {
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

#scroll__down::after,
#scroll__down::before {
    content: " ˅ ";
}

img {
    border-radius: 1rem;
    border: 1px solid #1d1d1d;
    width: 100%;
}

#main__img {
    display: grid;
    place-items: center;

}

#instruction {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: 4rem;
}

#instruction::before {
    content: "";
    width: 50%;
    border: 2px solid;
    border-radius: 99px;
    margin-bottom: 4rem;
}

.step {
    width: 70%;
    background: #101010;
    border-radius: 1rem;
    padding: 5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 2fr;
    font-size: 1.5rem;
    align-items: center;
    gap: 3rem;
}

select {
    text-align: center;
    margin-inline: 1rem;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #1d1d1d;
    background: #f0f0f0;
    color: black;
}

select option {
    cursor: pointer;
    font-size: 1.5rem;
    background: #f0f0f0;
    color: black;
}
